<!DOCTYPE html>
<html>
<head>
    <title>Movie Recommendation System </title>
    <link rel="stylesheet"
    href="{{url_for('static',filename='style.css')}}">
</head>

<body>
    <div class="container">
    <h1>Movie Recommendation System</h1>
    <p class="subtitle">
        Find movies similar to your favourite movie
    </p>
    <form method="POST">
        <input
        type = "text"
        name = "movie"
        placeholder = "Enter Movie Name" required>
        <button type = "submit">
            Recommend
        </button>
        </form>
        {% if movie_name %}
         <h2> Recommendations For {{movie_name}} </h3>
         {% if recommendations %}
         <ul>
            {% for movie in recommendations %}
            <li>{{movie}}</li>
            {% endfor %}
            </ul>
            {% else %}
            <p>No recommendations found.</p>
            
        {% endif %}
            
    
        {% endif %}
        <div class = "footer">
            AI-BASED MOVIE RECOMMENDATION SYSTEM
        </div>
</body>
</html>